<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ion-button (click)="getNetworks()" expand="block" fill="clear" shape="round">
            GETT
        </ion-button>
        <ion-list>
            <ion-item *ngFor="let data of results">
                <ion-label> SSID : {{data.SSID}}</ion-label>
                <ion-item>
                    <ion-label>LEVEL :{{data.level}}</ion-label>
                </ion-item> {{data.frequencys}}
            </ion-item>
            <ion-button (click)="savenownetwoks()" expand="block" fill="clear" shape="round">
                Guardar datos
            </ion-button>
        </ion-list>
    </div>
</ion-content>